<div id="lets-connect" class="dark-gray">
    <ul id="footerContacts" class="flex-box">
        <span class="flex-item"><span class="orange-text">email</span><span class="white-text">{{ contact?.email }}</span></span>
        <span class="flex-item"><span class="orange-text">mobile</span><span class="white-text">{{ contact?.cell }}</span></span>
        <span class="flex-item"><span class="orange-text">github</span><span class="white-text">{{ contact?.githubUser }}</span></span>
        <span class="flex-item"><span class="orange-text">location</span><span class="white-text">{{ contact?.location }}</span></span>
    </ul>
</div>
