.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 400px;
  height: 627px;
  margin: 200px;
}
.item {
  /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
  flex: 1;
  margin: 20px;
  text-align: center;
  font-size: 1.5em;
  height: 96%;
}
.container {
  max-width: 400px;
  margin: 0;
  display: flex;
  border: 1px solid #ccc;
}
.row {
  flex-direction: row;
}
p {
  padding: 2%, 2%, 2%, 2%;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

a {
  text-decoration: inherit; /* no underline */
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.project-image {
  width: 70%;
  padding: 0;
}

.infoBox {
  background-color: #fff;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 2px solid #f5a623;
  border-radius: 3px;
  margin-top: 10px;
}
.infoBox p {
  padding: 0 15px;
}
.infoBox:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f5a623;
  top: -10px;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  left: 138px;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 30px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
  margin: 0;
  width: 100%;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

img {
  padding: 10px;
}

span {
  margin: auto;
  padding: 05px;
}
@media only screen and (min-width: 361px) and (max-width: 422px) {
  .card {
    width: 93%;
    height: 95%;
  }
}

@media only screen and (max-width: 360px) {
  .card {
    width: 93%;
    height: 98%;
    margin: 0;
  }
}
