<app-modal id="library" *ngIf="library == true"></app-modal>

<div id="header" class="center-content clear-fix">
  <div class="flex-box">
    <h1 id="name" class="name"> {{ bio?.name }} </h1>
    <div>
      <button class="flex-item topnav btnBox" (click)='openLibrary()' >Prateleira de Componentes</button>
    </div>
  </div>
  <br>
  <span>{{ bio?.role }}</span>
  <hr>
  <ul id="topContacts" class="flex-box">
    <span class="flex-item">
      <span class="orange-text">email</span>
      <span class="white-text"> {{ contact?.email }} </span>
    </span>
    <span class="flex-item">
      <span class="orange-text">mobile</span>
      <span class="white-text"> {{ contact?.cell }} </span>
    </span>
    <span class="flex-item">
      <span class="orange-text">github</span>
      <span class="white-text"> {{ contact?.githubuser }} </span>
    </span>
    <span class="flex-item">
      <span class="orange-text">location</span>
      <span class="white-text"> {{ contact?.location }} </span>
    </span>
  </ul>

  <picture>
    <img src="{{ bio?.picture }}" class="biopic" alt="Foto de perfil">
  </picture>

  <span class="welcome-message white-text ">{{ bio?.welcomeMessage }}</span>
  <h3 id="skills-h3">Skills:</h3>
  <ul id="skills" class="flex-column">
    <li class="flex-item" *ngFor="let skill of skills">
      <span class="white-text">{{ skill?.skill }}</span>
    </li>
  </ul>'


</div>
